:root {
    --bg-primary: #2c2c2c;
    --bg-secondary: #9F7E69;
    --highlight: #357266;
    --accent: #7FD8BE;
    --text: #FCEFEF;
}

.default-body {
    margin: 0;
    background-color: var(--bg-primary);
    color: var(--text);
}

.manrope-title {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.manrope-body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#navbar {
    display: flex;
    justify-content: center;
    width: 20%;
    position: relative;
    left: 90em;
}

.navbutton-default {
    display: block;
    padding: 1.5em;
    background-color: var(--bg-secondary);
    text-decoration: none;
    color: var(--text);
}

.navbutton-default:hover {
    background-color: var(--highlight);
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-underline-offset: 1em;
    text-decoration-thickness: 0.2em;
}

header {
    background-color: var(--bg-secondary);
    position: sticky;
    top: 0;
    z-index: 100;
}

footer {
    background-color: var(--bg-secondary);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    min-height: 4em;
}

#about, #tcs {
    display: flex;
    justify-content: center;
    color: var(--accent);
    margin-top: 1.2em;
}

#about {
    padding-right: 1em;
    padding-left: 1em;
}

#tcs {
     padding-left: 1em;
}

#footer-links {
    display: flex;
    color: var(--highlight);
    text-align: center;
    justify-content: center;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-secondary);
    min-width: 100px;
    z-index: 1;
}

.dropdown-content button {
    color: #040303;
    display: block;
}

.show {display: block;}

* {box-sizing: border-box;}
.slides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
    max-width: 480px;
    height: auto;
    position: relative;
    margin: auto;
    margin-top: 2em;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.card {
    max-width: 300px;
    height: auto;
    margin: auto;
    text-align: center;
    background-color: var(--bg-secondary);
    border-style: solid;
    border-color: var(--accent);
    border-radius: 4px;
    margin-top: 1em;
    margin-bottom: 5em;
}

.price {
    color: var(--text);
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: var(--bg-primary);
    background-color: var(--accent);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

body { 
    overflow: auto;
}

.listing-container {
    display: flex;
}