#title, #content {
                    display: flex;
                    justify-content: center;
                }
#content {
    margin-top: 3%;
}
body {
    background: #BAC7BE;
}


.manrope-title {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.manrope-body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.paragraph {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  background-color: rgba(99, 99, 99, 0.5);
  border-radius: 30px;
  width: 5em;
  height: auto;
}
