
.default-body {
    margin: 0;
    background-color: #FCEFEF;
    color: #040303;
}

@media (prefers-color-scheme: dark) {
    .default-body.dark {
        margin: 0;
        background-color: #2c2c2c;
        color: #FCEFEF;
    }
}

.manrope-title {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.manrope-body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#navbar {
    display: flex;
    justify-content: center;
    width: 20%;
    position: relative;
    left: 90em;
}

.navbutton-default  {
    display: block;
    padding: 1.5em;
    background-color: #FCD29F;
    text-decoration: none;
    color: #040303;
}

@media (prefers-color-scheme: dark) {
    .navbutton-default.dark {
        display: block;
        padding: 1.5em;
        background-color: #9f7e69;
        text-decoration: none;
        color: #FCEFEF;
    }
}

.navbutton-default:hover {
    background-color: #7FD8BE;
    text-decoration: underline;
    text-decoration-color: #357266;
    text-underline-offset: 1em;
    text-decoration-thickness: 0.2em;
}

@media (prefers-color-scheme: dark) {
    .navbutton-default.dark:hover {
        background-color: #357266;
        text-decoration: underline;
        text-decoration-color: #7FD8BE;
        text-underline-offset: 1em;
        text-decoration-thickness: 0.2em;
    }
}

header {
    background: #FCD29F;
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: #9f7e69;
    }
}

footer {
    background-color: #FCD29F;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    footer {
        background-color: #9f7e69;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}

#footer-links {
    display: flex;
    color: #357266;
    text-align: center;
}

#about, #tcs {
    display: flex;
    justify-self: center;
}

@media (prefers-color-scheme: dark) {
    #about, #tcs {
        display: flex;
        justify-self: center;
    }
}

@media (prefers-color-scheme: dark) {
    #footer-links {
        display: flex;
        color: #357266;
        text-align: center;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FCD29F;
    min-width: 100px;
    z-index: 1;
}

@media (prefers-color-scheme: dark) {
    .dropdown-content.dark {
        display: none;
        position: absolute;
        background-color: #9f7e69;
        min-width: 100px;
        z-index: 1;
    }
}

.dropdown-content button {
    color: #040303;
    display: block;
}

.show {display: block;}

* {box-sizing: border-box;}
.slides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
    max-width: 480px;
    height: auto;
    position: relative;
    margin: auto;
    margin-top: 2em;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}